body {
    background: #333;
}

#page-wrap:after {
    content: "Smartphone Layout";
}

h2 span, section h3 {
    display: none;
}

section {
    height: auto;
    min-height: 500px;
}

h4 {
    font-size: small;
}

body {
    font-size: xx-large;
}

footer, input {
    font-size: large;
}